<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% stylesheets '@bootstrap_css' 'bundles/app/css/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block top_menu %}
    {{ render(controller('AppBundle:Menu:index')) }}
{% endblock %}

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>

{% javascripts '@jquery' '@bootstrap_js' 'bundles/app/js/app.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
