{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataPageBundle::layout.html.twig' %}

{% block sonata_page_body_tag %}
    {{ parent() }}

    {% include "SonataSeoBundle:Block:_facebook_sdk.html.twig" %}
    {% include "SonataSeoBundle:Block:_twitter_sdk.html.twig" %}
    {% include "SonataSeoBundle:Block:_pinterest_sdk.html.twig" %}

{% endblock %}

{% block sonata_page_javascripts %}

{% endblock %}

{% block sonata_page_container %}
    {{ parent() }}
{% endblock %}

{% block sonata_page_breadcrumb %}{% endblock %}
